@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif ;
}

.subtext, a {
    font-size: 18px;
    color: #E5E7EB;
  }

.logo, .intro .title, button, .section-four, .footer {
    color: #F9FAF8;
}

.title,  button, .author, .logo {
    font-weight: 900;
}

button, media img, .section-four {
    border-radius: 8px;
}

button {
    display: flex;
    background-color: #3882F6;
    border: solid white;
    border-width: 1px;
    padding: 4px 20px;
    flex-shrink: 0;
}

.section-one {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 32px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    padding: 70px 0px;
    justify-content: space-between;
    align-items: center;
}

.intro .title {
    font-size: 48px;
}

.intro img {
    display: flex;
    text-align: center;
    margin-left: 32px;
    max-height: 300px;
}

.intro button {
    border: 0px;
    margin-top: 6px;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.section-two .title {
    font-size: 36px;
    color: #1F2937;
}

media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 140px;
    gap: 32px;
    text-align: center;
    max-width: 150px;
}

media img {
    max-width: 150px;
    border: 6px;
    border-color: #3882F6;
    border-style: solid;
}

.section-three {
    display: flex;
    flex-direction: column;
    padding: 64px 172px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937
}

.quote {
    font-style: italic;
    font-weight: lighter;
}

.section-three .author {
    display: flex;
    justify-content: flex-end;
}

.section-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 32px 100px;
    margin: 64px 140px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #1F2937;
}
