body {
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    padding: 0px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.intro {
    padding: 70px 0px;
    display: flex;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 16px;
}

a {

}